[submodule "app/src/main/cpp/ffmpeg"]
	path = libNative/src/main/jni/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "app/src/main/cpp/libyuv"]
	path = libNative/src/main/jni/libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
